body {
    padding: 0;
    margin: 0;

}

.main-heading {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #0a6cc8, #1e3380); /* blue to cyan */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}






.card-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;


}




.card-div {
    width: 400px;
    height: 250px;
    background-image: url("image/icard3.jpg");
    background-size: cover;
    margin-top: 15px;
    margin-left: 8rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgb(181, 177, 177);


}

.flexWrapper {

    display: flex;

}body {
    padding: 0;
    margin: 0;

}





.card-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;


}




.card-div {
    width: 400px;
    height: 250px;
    background-image: url("image/icard3.jpg");
    background-size: cover;
    margin-top: 15px;
    margin-left: 8rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgb(181, 177, 177);


}

.flexWrapper {

    display: flex;

}

.employeeDetails {
    display: flex;
    flex-direction: column;
    line-height: 1px;
    margin-top: 1.9rem;
    
    
}

.img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 20px;
    border: 2px solid white;

}

.name {
    font-size: 1.5rem;
    color: white;
    margin-left: 3rem;
    margin-top: 3rem;
}

.designation {
    color: white;
    font-size: 1.3rem;
    margin-left: 2rem;
    
   
}

.id{
    color:white;
    font-size: 1rem;
    margin-left: 4rem;
}




